* {
	margin: 0;
	padding: 0;
}



@media all {

	div#pokedex
	{
		width: 750px;
		margin: 50px auto 0 auto;
	}

	div#left
	{
		width: 400px;
		height: 500px;
		float: left;
		position: relative;
		z-index: 1;
	}

	div#right
	{
		width: 350px;
		height: 500px;
		float: left;
		position: relative;
	}



	/* //// LEFT PART //// */

	div#curve1_left
	{
		width: 201px;
		height: 85px;
		background-color: #d44432;
		float: left;
		padding: 15px 0 0 15px;

		position: absolute;
		top: 0;
		left: 0;

		box-shadow: -10px 9px #82271c;
		-webkit-box-shadow: -10px 9px #82271c;
		-moz-box-shadow: -10px 9px #82271c;
		-o-box-shadow: -10px 9px #82271c;

		border-bottom-right-radius: 85px 60px;
		-webkit-border-bottom-right-radius: 85px 60px;
		-moz-border-bottom-right-radius: 85px 60px;
		-o-border-bottom-right-radius: 85px 60px;

		border-top-left-radius: 30px;
		-webkit-border-top-left-radius: 30px;
		-moz-border-top-left-radius: 30px;
		-o-border-top-left-radius: 30px;
	}


	div#bg_curve1_left
	{
		width: 400px;
		height: 80px;
		background-color: #d44432;
        
		border-top-left-radius: 30px;
		-webkit-border-top-left-radius: 30px;
		-moz-border-top-left-radius: 30px;
		-o-border-top-left-radius: 30px;
	}

	div#curve2_left
	{
		width: 216px;
		height: 451px;
		background-color: #d44432;
		float: right;

		position: absolute;
		bottom: 0;
		right: 0;

		border-top-left-radius:85px 60px;
		-webkit-border-top-left-radius: 85px 60px;
		-moz-border-top-left-radius: 85px 60px;
		-o-border-top-left-radius: 85px 60px;
	}

	div#bg_curve2_left
	{
		width: 400px;
		height: 420px;
		background-color: #d44432;

		box-shadow: -10px 9px #82271c;
		-webkit-box-shadow: -10px 9px #82271c;
		-moz-box-shadow: -10px 9px #82271c;
		-o-box-shadow: -10px 9px #82271c;

		border-bottom-left-radius: 30px;
		-webkit-border-bottom-left-radius: 30px;
		-moz-border-bottom-left-radius: 30px;
		-o-border-bottom-left-radius: 30px;
	}

	div#buttonGlass
	{
		width: 60px;
		height: 60px;
		margin-right: 15px;
		border: 5px solid #FFF;
		float: left;

		box-shadow: 0 0 10px #490000;
		-webkit-box-shadow: 0 0 10px #490000;
		-moz-box-shadow: 0 0 10px #490000;
		-o-box-shadow: 0 0 10px #490000;
		
		background: radial-gradient(#05fbfb, #29abe3);
		background: -webkit-radial-gradient(#05fbfb, #29abe3);
		background: -moz-radial-gradient(#05fbfb, #29abe3);
		background: -o-radial-gradient(#05fbfb, #29abe3);
		
		border-radius: 35px;
		-webkit-border-radius: 35px;
		-moz-border-radius: 35px;
	   	-o-border-radius: 35px;
	}

	div#reflect
	{
		width: 30px;
		height: 18px;
		margin: 3px 0 0 15px;
		background: #FFF;
		opacity: 0.6;

		border-radius: 15px 9px;
		-webkit-border-radius: 15px 9px;
		-moz-border-radius: 15px 9px;
	   	-o-border-radius: 15px 9px;
		        
	}

	div#miniButtonGlass1
	{
		width: 20px;
		height: 20px;
		margin-right: 10px;
		float: left;

		box-shadow: 0 0 10px #490000;
		-webkit-box-shadow: 0 0 10px #490000;
		-moz-box-shadow: 0 0 10px #490000;
		-o-box-shadow: 0 0 10px #490000;

		border-radius: 20px;
		-webkit-border-radius: 20px;
		-moz-border-radius: 20px;
		-o-border-radius: 20px;
		
		background: radial-gradient(#fb7b7b, #fb0505);
		background: -webkit-radial-gradient(#fb7b7b, #fb0505);
		background: -moz-radial-gradient(#fb7b7b, #fb0505);
		background: -o-radial-gradient(#fb7b7b, #fb0505);
	}

	div#miniButtonGlass2
	{
		width: 20px;
		height: 20px;
		margin-right: 10px;
		float: left;

		box-shadow: 0 0 10px #490000;
		-webkit-box-shadow: 0 0 10px #490000;
		-moz-box-shadow: 0 0 10px #490000;
		-o-box-shadow: 0 0 10px #490000;

		border-radius: 20px;
		-webkit-border-radius: 20px;
		-moz-border-radius: 20px;
		-o-border-radius: 20px;
		
		background: radial-gradient(#fbfb9b, #fbfb05);
		background: -webkit-radial-gradient(#fbfb9b, #fbfb05);
		background: -moz-radial-gradient(#fbfb9b, #fbfb05);
		background: -o-radial-gradient(#fbfb9b, #fbfb05);
	}

	div#miniButtonGlass3
	{
		width: 20px;
		height: 20px;
		margin-right: 10px;
		float: left;

		box-shadow: 0 0 10px #490000;
		-webkit-box-shadow: 0 0 10px #490000;
		-moz-box-shadow: 0 0 10px #490000;
		-o-box-shadow: 0 0 10px #490000;

		border-radius: 20px;
		-webkit-border-radius: 20px;
		-moz-border-radius: 20px;
		-o-border-radius: 20px;
		
		background: radial-gradient(#b0fb7b, #50fb05);
		background: -webkit-radial-gradient(#b0fb7b, #50fb05);
		background: -moz-radial-gradient(#b0fb7b, #50fb05);
		background: -o-radial-gradient(#b0fb7b, #50fb05);
	}

	div#junction
	{
		width: 60px;
		height: 450px;
		float: right;
        border: 1.5px solid black;
		
		background: linear-gradient(left, #d44432 0%, #c00d0d 50%, #d44432 100%);	
		background: -webkit-linear-gradient(left, #d44432 0%, #c00d0d 50%, #d44432 100%);
		background: -moz-linear-gradient(left, #d44432 0%, #c00d0d 50%, #d44432 100%);
		background: -o-linear-gradient(left, #d44432 0%, #c00d0d 50%, #d44432 100%);
	}

	div#junction1
	{
		height: 40px;
		background-color: #d44432;
		opacity: 0.3;
		margin-top: 50px;
		margin-bottom: 262px;

		border-top: 2px solid #000;
		border-bottom: 2px solid #000;
	}

	div#junction2
	{
		height: 40px;
		background-color: #d44432;
		opacity: 0.3;

		border-top: 2px solid #000;
		border-bottom: 2px solid #000;
	}

	div#screen
	{
		height: 365px;
		width: 285px;
		padding: 0 10px;
		background-color: #b0b0b0;
		float:left;

		position: absolute;
		top: 120px;
		left: 19px;

		border-radius: 15px;
		-webkit-border-radius: 15px;
		-moz-border-radius: 15px;
		-o-border-radius: 15px;
	}

	div#picture
	{
		height: 330px;
		width: 278px;
		margin-top: 20px;
		margin-bottom: 9px;
		background-color: #fff;
		border: 3px solid #494949;
		clear: both;

		border-radius: 15px;
		-webkit-border-radius: 15px;
		-moz-border-radius: 15px;
		-o-border-radius: 15px;
	}
  
  div#picture2
	{
		height: 340px;
		width: 278px;
		margin-top: 10px;
		margin-bottom: 9px;
		background-color: #fff;
		border: 3px solid #494949;
		clear: both;

		border-radius: 15px;
		-webkit-border-radius: 15px;
		-moz-border-radius: 15px;
		-o-border-radius: 15px;
	}

	div#picture img
	{
		display: block;
		margin: 0 auto;
	}

	div#topPicture
	{
		margin: 6px auto;
		width: 40px;
	}

	div#buttontopPicture1, div#buttontopPicture2
	{
		height: 8px;
		width: 8px;
		background-color: #c00d0d;
		border: 1px solid #000;
		float: left;

		border-radius: 15px;
		-webkit-border-radius: 15px;
		-moz-border-radius: 15px;
		-o-border-radius: 15px;
	}

	div#buttontopPicture1
	{
		margin-right: 20px;
	}

	/* //// RIGHT PART //// */

	div#curve1_right
	{
		width: 166px;
		height: 451px;
		background-color: #d44432;
		float: right;

		position: absolute;
		bottom: 0;
		left: 0;

		border-top-right-radius:85px 60px;
		-webkit-border-right-left-radius: 85px 60px;
		-moz-border-right-left-radius: 85px 60px;
		-o-border-right-left-radius: 85px 60px;
	}


	div#bg_curve1_right
	{
		width: 350px;
		height: 80px;
		background-color: #fff;

		border-top-right-radius: 30px;
		-webkit-border-top-right-radius: 30px;
		-moz-border-top-right-radius: 30px;
		-o-border-top-right-radius: 30px;
	}

	div#curve2_right
	{
		width: 216px;
		height: 100px;
		background-color: #fff;
		float: left;

		position: absolute;
		top: 0;
		right: 0;

		border-bottom-left-radius: 85px 60px;
		-webkit-border-bottom-left-radius: 85px 60px;
		-moz-border-bottom-left-radius: 85px 60px;
		-o-border-bottom-left-radius: 85px 60px;
	}

	div#bg_curve2_right
	{
		width: 350px;
		height: 420px;
		background-color: #d44432;

		border-bottom-right-radius: 30px;
		-webkit-border-bottom-right-radius: 30px;
		-moz-border-bottom-right-radius: 30px;
		-o-border-bottom-right-radius: 30px;

		box-shadow: -10px 9px #82271c;
		-webkit-box-shadow: -10px 9px #82271c;
		-moz-box-shadow: -10px 9px #82271c;
		-o-box-shadow: -10px 9px #82271c;
	}

}

@media handheld and (orientation:portrait), (max-width:768px) {

	div#pokedex
	{
		width: 400px;
	}

	div#logo
	{
		width: 281px;
		height: 99px;
		background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/200653/logo.png') no-repeat left top;
		z-index: 1;

		position: absolute;
		top: 220px;
		left: 30px;
	}

	div#left
	{
		width: 400px;
		height: 500px;
		float: left;
		position: relative;
		z-index: 1;
		margin: 0 auto;
	}

	div#curve1_left
	{
		width: 201px;
		height: 85px;
		background-color: #d44432;
		float: left;
		padding: 15px 0 0 15px;

		position: absolute;
		top: 0;
		left: 0;

		box-shadow: 0 0 #82271c;
		-webkit-box-shadow: 0 0 #82271c;
		-moz-box-shadow: 0 0 #82271c;
		-o-box-shadow: 0 0 #82271c;

		border-bottom-right-radius: 85px 60px;
		-webkit-border-bottom-right-radius: 85px 60px;
		-moz-border-bottom-right-radius: 85px 60px;
		-o-border-bottom-right-radius: 85px 60px;

		border-top-left-radius: 30px;
		-webkit-border-top-left-radius: 30px;
		-moz-border-top-left-radius: 30px;
		-o-border-top-left-radius: 30px;
	}

	div#bg_curve1_left
	{
		width: 400px;
		height: 80px;
		background-color: #d44432;

		box-shadow: -10px 9px #82271c;
		-webkit-box-shadow: -10px 9px #82271c;
		-moz-box-shadow: -10px 9px #82271c;
		-o-box-shadow: -10px 9px #82271c;

		border-top-left-radius: 30px;
		-webkit-border-top-left-radius: 30px;
		-moz-border-top-left-radius: 30px;
		-o-border-top-left-radius: 30px;
	}
    
    div#junction
	{
		width: 60px;
		height: 458px;
		float: right;
        border: 1px solid #000;
		
		background: linear-gradient(left, #d44432 0%, #c00d0d 50%, #d44432 100%);	
		background: -webkit-linear-gradient(left, #d44432 0%, #c00d0d 50%, #d44432 100%);
		background: -moz-linear-gradient(left, #d44432 0%, #c00d0d 50%, #d44432 100%);
		background: -o-linear-gradient(left, #d44432 0%, #c00d0d 50%, #d44432 100%);
	}

	div#right, div#screen, div#bigbluebutton, div#barbutton1, div#barbutton2, div#cross
	{
		display: none;
	}

}